@media (min-width:731px) {body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url(psychedelic-paper-shapes-with-copy-space.jpg);
    image-rendering: crisp-edges;
    background-size: cover;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 2px 3px 10px rgba(0,0,0,1);
    width: 60%;
    height: 50%;
}

h1 {
    position: relative;
    bottom: 80px;
    font-size: 60px;
}

#quote-box {
    margin-bottom: 20px;
    position: relative;
    top: 20%;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#quote {
    font-size: 1.5em;
    margin: 0;

}

#author {
    font-size: 1em;
    color: #555;
}

.controls {
    margin-top: 20px;

}

input {
    padding: 10px;
    font-size: 1em;
    margin-right: 10px;
    width: 70%;
    box-sizing: border-box;
    border: none;
    border-radius: 20px;
}

#keyword {
    border: 1px solid black;
    margin-bottom: 10px;
}

button {
    background: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
footer {
    position: relative;
    top: 40px;
    font-size: 25px;
}}


@media (max-width:730px) {
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background: url(stacked-yellow-blue-card-paper-backdrop.jpg);
        image-rendering: crisp-edges;
        background-size: cover;
        
    }
    
    .container {
        text-align: center;
        padding: 20px;
        border-radius: 30px;
        box-shadow: 0 0 10px rgb(0, 0, 0);
        width: 70%;
        height: 30%;
    }
    
    h1 {
        position: relative;
        color: black;
        font-size: 30px;
    }
    
    #quote-box {
        margin-bottom: 20px;
        position: relative;
        top: 15%;
        font-weight: 600;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: black;
    }
    
    #quote {
        font-size: 1.5em;
        margin: 0;
    
    }
    
    #author {
        font-size: 1em;
        color: black;
    }
    
    .controls {
        margin-top: 20px;
    
    }
    
    input {
        padding: 10px;
        font-size: 1em;
        margin-right: 10px;
        width: 55%;
        box-sizing: border-box;
        border: none;
        border-radius: 20px;
    }
    
    #keyword {
        border: 1px solid black;
        margin-bottom: 10px;
    }
    
    button {
        background: #007BFF;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 1em;
        border-radius: 20px;
        cursor: pointer;
    }
    
    button:hover {
        background: #0056b3;
    }
    footer {
        position: relative;
        top: 40px;
        color: #fff;
        font-size: 10px;
    }
}
